/* < !--=========== COMMON STYLES ===========--> */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
address {
  font-style: normal;
}
.container {
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 736px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* < !--=========== HEADER  STYLES ===========--> */
.menu {
  display: none;
}
.contact-address {
  display: none;
}
.page-header {
  padding-top: 15px;
  padding-bottom: 20px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-web-header {
  color: #2e2f42;
}

.mobile-open-button {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .contact-address {
    display: flex;
  }
  .mobile-open-button {
    display: none;
  }
}
/* < !--=========== HERO  STYLES ===========--> */
.hero-first-section {
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 188px;
  padding-top: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url();
}
/* < !--=========== MOBILE MENU  STYLES ===========--> */
.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 72px 16px 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-container {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #fdfdff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: 168px;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-contacts {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
.mobile-menu-address {
  margin-bottom: 48px;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-social-media-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
